header{
    background-color: rgb(54, 51, 51);
    height: 50px;
    color: white;
    

}

.forecast{
    margin-left: 5px;
    font-size: large;
}

.Today-Current{
    border-radius: 10px;
    border-style: solid;
    border-color: darkgray;
    margin: 5px;
    height: 300px;
}

.fday {
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(9, 146, 209);
    margin: 2px;
    margin-top: 5px;
    background-color: rgb(9, 146, 209);
    
}

.h3 {
    padding-left: 5px;
}

.pfday{
    font-size: smaller;
}

.uvGreen{
    /* font-weight: bold; */
    background-color: green;
    border-color: green;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
}

.uvYellow{
    /* font-weight: sbold; */
    background-color: yellow;
    border-color: yellow;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
}

.uvOrange{
    /* font-weight: bold; */
    background-color: orange;
    border-color: orange;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
}

.uvRed{
    /* font-weight: bold; */
    background-color: red;
    border-color: red;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
}

.uvPurple{
    /* font-weight: bold; */
    background-color: purple;
    border-color: purple;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
}

button{
    display: inline-block;
}

.inputSearch{
    width: 200px;
}

aside{
    margin-left: 20px;
    width: 260px;
}
